#block-system-main input[type=text] {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  width: 200px; }
#block-system-main select {
  padding: 5px 10px; }

/*# sourceMappingURL=components-ui.css.map */
