#create-from-template {
  max-width: 1000px; }
  #create-from-template #create-title {
    margin-bottom: 30px; }
  #create-from-template .component-container {
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 0 10px 0 10px;
    margin-bottom: 20px; }
    #create-from-template .component-container h2 {
      margin: 0 -10px 20px -10px;
      background: url(/themes/seven/images/buttons.png) 0 0 repeat-x;
      padding: 10px; }
    #create-from-template .component-container .form-type-textfield {
      margin-bottom: 20px; }
    #create-from-template .component-container .component-container {
      padding-bottom: 15px; }
    #create-from-template .component-container .container-depth.component-depth-1 {
      padding-left: 30px; }
    #create-from-template .component-container .container-depth.component-depth-2 {
      padding-left: 45px; }
    #create-from-template .component-container .container-depth.component-depth-3 {
      padding-left: 60px; }
    #create-from-template .component-container .container-depth.component-depth-4 {
      padding-left: 75px; }
    #create-from-template .component-container .container-depth.component-depth-5 {
      padding-left: 90px; }
    #create-from-template .component-container .replacement-patterns-link {
      margin-top: -42px; }
  #create-from-template .form-type-textfield {
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 5px 10px;
    overflow: hidden;
    background: #fcfcfc;
    margin-bottom: 20px; }
    #create-from-template .form-type-textfield input[type=text] {
      padding: 5px 10px;
      margin-right: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      width: 200px; }
  #create-from-template .replacement-patterns-link {
    float: right;
    margin-top: -43px;
    margin-right: 20px;
    font-size: 10px; }
  #create-from-template .tooltip {
    float: right;
    margin-top: -64px;
    margin-right: 8px;
    cursor: default; }

/*# sourceMappingURL=create-from-template.css.map */
