.example-articles-radios-container {
  width: 50%;
  min-width: 640px;
}

.example-articles-radios-container .clear {
  clear: both;
}

.example-articles-radios-container .example-articles-radio {
  width: 28%;
  float: left;
  margin: 15px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 5px #ccc;
  -moz-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border: 1px solid #ccc;
  padding-bottom: 5px;
}

.example-articles-radios-container .example-articles-radio img {
  max-width: 90%;
  max-height: 132px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.example-articles-radios-container .example-articles-radio input {
  float: left;
  margin-left: 10px;
}

.example-articles-radios-container .example-articles-radio .title {
  float: left;
  margin-top: -3px;
  margin-left: 5px;
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.example-articles-radios-container .example-articles-radio .modal {
  position: absolute !important;
}

.example-articles-radios-container .example-articles-radio .modal img {
  max-width: 100%;
  max-height: 100%;  
}

/**
 * Example article containers form
 */

.form-item {
  padding-top: 10px !important;
  padding-bottom: 20px !important;
}

.component-field {
  float: right;
  margin-top: -20px;
}