#create-from-template {
  max-width: 1000px;
  
  #create-title {
    margin-bottom: 30px;
  }
  
  .component-container {
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 0 10px 0 10px;
    margin-bottom: 20px;
    
    h2 {
      margin: 0 -10px 20px -10px;
      background: url(/themes/seven/images/buttons.png) 0 0 repeat-x;
      padding: 10px;
    }
    
    .form-type-textfield {
      margin-bottom: 20px;
    }
    .component-container {
      padding-bottom: 15px;
    }
    
    .container-depth.component-depth-1 {
      padding-left: 30px;
    }
    .container-depth.component-depth-2 {
      padding-left: 45px;
    }
    .container-depth.component-depth-3 {
      padding-left: 60px;
    }
    .container-depth.component-depth-4 {
      padding-left: 75px;
    }
    .container-depth.component-depth-5 {
      padding-left: 90px;
    }
    
    .replacement-patterns-link {
      margin-top: -42px;
    }
  }
  
  .form-type-textfield {
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 5px 10px;
    overflow: hidden;
    background: #fcfcfc;
    margin-bottom: 20px;
    input[type=text] {
      padding: 5px 10px;
      margin-right: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      width: 200px;
    }
  }
  
  .replacement-patterns-link {
    float: right;
    margin-top: -43px;
    margin-right: 20px;
    font-size: 10px;
  }
  
  .tooltip {
    float: right;
    margin-top: -64px;
    margin-right: 8px;
    cursor: default;
  }
}

